.container {
  .star {
    width: 48px;
    height: 48px;
    background-color: var(--color-star-background);
    padding: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: Overpass;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3rem;
    color: var(--color-text-title);
    margin: 15px 0;
  }

  p {
    font-family: Overpass;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: var(--color-text-complement);
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
  }

  .rating div {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .rating div.nonActive {
    background-color: var(--color-rating-background);
    color: var(--color-rating-text);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-rating-background-hover);
      color: var(--color-rating-text-hover);
    }
  }

  .rating div.active {
    background-color: var(--color-rating-background-focus);
    color: var(--color-rating-text-focus);
  }

  button {
    border: none;
    width: 100%;
    padding: 18px;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    border-radius: 3rem;
    font-family: Overpass;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 0.2rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--color-button-background-hover);
      color: var(--color-button-text-hover);
    }
  }
}
